.contact-form {
    label {
      font-weight: bold;
      margin-top: 3rem;
    }
  
    input,
    select,
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  
    textarea {
      height: 100px;
    }
  }
  
  .contact-container {
    margin-top: 3rem;
  }
  
  .contact-container {
    margin-top: 3rem;
  }
  
  .contact-form {
    label {
      font-weight: bold;
      margin-top: 1rem;
    }
  
    input,
    select,
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  
    textarea {
      height: 100px;
    }
  }
  
  .form-container {
    margin-bottom: 50px;
  }

  
  